/* Universal Styles */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
}

/* Table Navigation */
.nav-table {
  list-style: none;
  text-align: center;
  padding: 2px;
  padding-left: 20px;
}

/* Table Navigation: Block Display + Padding */
.nav-table > li {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px 0 0 0;
}

/* Table Navigation: Remove Underline + Add Color */
.nav-table > li > a {
  text-decoration: underline #000000;
  padding: 2px;
  color: #000000;
  text-transform: full-width;
}


/* Navigation Bar */

.nav {
  background-color: #ffffff;
  color: #ffffff;
  list-style: none;
  text-align: right;
  padding: 2px 0 0 0;
}

.selected {
  font-weight: bold;
}

/* Navigation Bar: Block Display + Padding */
.nav > li {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px 0 0 0;
}

/* Navigation Bar: Remove Underline + Add Color */
.nav > li > a {
  text-decoration: none;
  color: #000000;
}

/* Navigation Bar: Hover Color */
.nav > li > a:hover {
  color: #c1c1c1;
}

/* Logo Styles */

.logo {
  color: #000;
  float: left;
  padding-left: 25px;
  text-transform: uppercase;
  /* font-family: 'Notable', sans-serif; */
  font-size: 22px;
  font-weight: bold;
}

.logo > a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  /* font-family: 'Notable', sans-serif; */
  font-size: 22px;
  font-weight: bold;
}


/* Banner Styles: Adjust Image Size */

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-img {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

/* Column Layout Styles */

* {
  box-sizing: border-box;
}

/* Table Styles */

/* Align Table Header */
.tab-header {
  padding-top: 10px;
  text-align: center;
}

/* General Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;

}

/* Table Links: Remove underline & add color */
td > a {
  text-decoration: none;
  color: #BD2031;
}

td > a:hover {
  color: #c1c1c1;
}

/* Table Data & Header: Align, Border, Padding */
td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 10px;
}

/* Tabular Data: Style 3rd child */
.tabData-3 {
  color: #BD2031;
}

/* Table Row: Add background color to odd rows */
tr:nth-child(even) {
    background-color: #C0C0C0;
}


/* HTML Validator Styles */
.validate {
  text-align: center;
  padding-top: 40px;
}


/* Footer: Align and Font-Sizing. */
#footer {
  text-align: center;
  vertical-align: bottom;
  font-size: 17px;
  padding-top: 50px;
}

/* Footer: Remove Text Decoration */
#footer a {
  text-decoration: none;
}


/* Media Queries */

@media screen and (max-width: 499px) {

  /* Mobile */

  /* Logo + Home */
  .logo > a {
    padding-left: 100px;
  }

  /* Navigation */
  .nav > li {
    display: inline-block;
    float: left;
    background-color: #ffffff;
    color: #ffffff;
    padding: 25px 5px 20px 175px;
  }

  /* Banner */
  .banner > .banner-img {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
  }

  .tab-header table {
    display: inline-table;
  }
