/* Universal Styles */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
}


/* Navigation Bar */

.nav {
  background-color: #ffffff;
  color: #ffffff;
  list-style: none;
  text-align: right;
  padding: 2px 0 0 0;
}

.selected {
  font-weight: bold;
}

/* Navigation Bar: Block Display + Padding */
.nav > li {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px 0 0 0;
}

/* Navigation Bar: Remove Underline + Add Color */
.nav > li > a {
  text-decoration: none;
  color: #000000;
}

/* Navigation Bar: Hover Color */
.nav > li > a:hover {
  color: #c1c1c1;
}

/* Logo Styles */

.logo {
  color: #000;
  float: left;
  padding-left: 25px;
  text-transform: uppercase;
  /* font-family: 'Notable', sans-serif; */
  font-size: 22px;
  font-weight: bold;
}

.logo > a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  /* font-family: 'Notable', sans-serif; */
  font-size: 22px;
  font-weight: bold;
}


/* Banner Styles: Adjust Image Size */

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-img {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

/* Column Layout Styles */

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 30px 30px 30px 30px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
  min-width: auto;
}

.right {
  width: 75%;
  padding-left: 80px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer: Align and Font-Sizing. */
#footer {
  text-align: center;
  vertical-align: bottom;
  font-size: 17px;
  padding-top: 50px;
}

/* Footer: Remove Text Decoration */
#footer a {
  text-decoration: none;
}


/* Media Queries */

@media screen and (max-width: 499px) {

  /* Mobile */

  /* Logo + Home */
  .logo > a {
    padding-left: 100px;
  }

  /* Navigation */
  .nav > li {
    display: inline-block;
    float: left;
    background-color: #ffffff;
    color: #ffffff;
    padding: 25px 5px 20px 175px;
  }

  /* Banner */
  .banner > .banner-img {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
  }

  /* Image */
  .left {
    width: 85%;
    height: 60%;
    padding-left: 80px;
  }

  .right {
    padding-left: 120px;
  }

  /* Footer */
  #footer {
    text-align: center;
    vertical-align: bottom;
    padding-top: 225px;
  }

}
