/* Universal Styles */
body {
  margin-top: 20px;
  background-color: #000000;
  text-align:center; /* Hack for IE/Win */
}

/* Content */

#content {
	width: 950px;
	margin: 0px auto;
  padding: 5px;
  text-align: left; /* Counteract to IE/Win Hack */
	border:1px dashed #333;
	background-color:#eee;
}

/* NAVIGATION */

ul#mainNav {
	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 160px;
}

#mainNav li {
	float: left;
	width: 12em;
}

#mainNav a {
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border: 1px dashed #999999;
	border-bottom: none;
	display: block;
	padding: 7px 5px 2px 30px;
	background: #E7E7E7 url(link.png) no-repeat left center;
}

#mainNav a:hover {
	font-weight: bold;
	background: #B2F511 url(go.png) no-repeat 5px 50%;
}

a {
  color: #a020f0;
  text-decoration: none;
  font-weight: bold;
}


a:hover {
  color: #8f0052;
  text-decoration: underline;
  background-color: #dd82ee;
}

/* special formatting for home page link */
a#homeLink {
	background: #E7E7E7 url(home.png) no-repeat 5px 52%;
}

/* IE Fixes */

/* force hover on entire width of link */
* html #mainNav a {
	height: 1px;
}

/* Paragraph: Styles */

p.quote1 {
  font: 14pt 'verdana';
  color: #0d152d;
  background: #fff;
  text-indent: .1in;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  border: 3px solid #0d152d;
  padding: 5px;
}

p.quote2 {
  font: 14pt 'verdana';
  color: #0d152d;
  background: #fff;
  text-indent: .1in;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  border: 3px solid #0d152d;
  padding: 5px;
}

p.quote3 {
  font: 14pt 'verdana';
  color: #0d152d;
  background: #fff;
  text-indent: .1in;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  border: 3px solid #0d152d;
  padding: 5px;
}

p.quote4 {
  font: 14pt 'verdana';
  color: #0d152d;
  background: #fff;
  text-indent: .1in;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  border: 3px solid #0d152d;
  padding: 5px;
}

p.quote5 {
  font: 14pt 'verdana';
  color: #0d152d;
  background: #fff;
  text-indent: .1in;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  border: 3px solid #0d152d;
  padding: 5px;
}

address {
  font-family: 'sans-serif';
  font-size: 14pt;
  font-weight: bold;
  color: #000000;
}
