
/* Universal Styles */
* {
  background-color: #ddd;
  font-family: 'Staatliches', cursive;
}

/* Main Header */
.header {
  padding: 5px;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

.note {
  padding-bottom: 35px;
  font-size: 19px;
  text-align: center;
}

#importante {
  text-decoration: underline;
  background-color: #fef65b;
}

/* Feedback Form Container */
.polyContainer {
  text-align: center;
  padding: 10px;
}

/* Form */
.polyForm {
  padding: 15px;
  font-size: 22px;
}

/* Buttons */
.master {
  padding: 10px;
  font-size: 22px;
}


/* HTML Validator Styles */
.validate {
  text-align: center;
  padding: 9%;
}


/* Footer */
.footie {
  font-size: 21px;
  text-align: center;
}
