
/* Universal Styles */
body {
  background-color: #fef65b;
  font-family: 'Lato', sans-serif;
}


/* Main Header */
.header {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px;
  padding-top: 35px;
}


/* Image Container */
.img-container {
  padding-top: 10px;
  padding-left: 25%;
  z-index: -20;
  position: relative;
}

/* Image I */
.img1 {
  display: inline-block;
}

/* Image I */
.img2 {
  display: inline-block;
}


/* Banner - viewport and general styles */
.banner {
  height: 400px;
  width: 80px;
  float: left;
  padding: 10px;
}


/* Start Content */
.content {
  width: 90%;
  float: center;
  padding-top: 15px;
  padding-left: 25px;
  text-align: center;
}


/* Table Container */
.tab-container {
  padding-top: 50px;
  padding-left: 25%;
}

/* Table I */
.tab1 {
  border: 2px solid black;
  border-collapse: collapse;
  width: 30%;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

/* Table II */
.tab2 {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 30%;
  float: center;
  margin: 10px;
  padding: 10px;
}

/* Table - remove underline */
td > a {
  color:
  text-decoration: none;
}

/* Table - visited link */
td > a:link {
  color: #101010;
}

/* Table - Hover color */
td > a:hover {
  color: #31698a;
}


/* Table spacing */
#tab-pad {
  text-decoration: underline;
  font-weight: bolder;
  margin-top: 5px;
  padding: 15px 10px;
}


/* HTML Validator Styles */
.validate {
  text-align: center;
  padding: 7%;
}


/* Footer */
footer {
  background-color: #31698a;
  border-radius: 10px; /* Border-radius has been applied to footer */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
